name: build

on:
  pull_request

jobs:
  check:
    name: Run Checks
    strategy:
      matrix:
        os: [ macos-latest, windows-latest, ubuntu-latest ]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set rustup profile
        run: rustup set profile minimal

      - name: Install Rust toolchain
        run: rustup toolchain install stable

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Cargo fmt
        run: cargo fmt --all -- --check

      - name: Debug build
        run: cargo build --verbose

      - name: Test
        run: cargo test --verbose